<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="abd180de-6e5b-4e46-b5a8-50410f16b0fd"
            Publisher="CN=acerstudent4"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>guessingGame</DisplayName>
    <PublisherDisplayName>acerstudent4</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="guessingGame.App">
        <VisualElements
            DisplayName="guessingGame"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="guessingGame"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>